Repository jrayzero/CoLaCodon, changes with the owners that CODEOWNERS names for each.
All owners: @arshajii, @inumanag, @markhend

CODEOWNERS:

*                    @arshajii @inumanag
/compiler/           @arshajii
/compiler/parser/    @inumanag
/docs/               @markhend

support grid
  compiler/parser/ast/stmt.cpp
  compiler/parser/ast/stmt.h
  compiler/parser/peg/grammar.peg
  compiler/parser/visitors/simplify/simplify_stmt.cpp
  compiler/parser/visitors/translate/translate.cpp
  compiler/parser/visitors/translate/translate.h
  compiler/parser/visitors/typecheck/typecheck_stmt.cpp
  compiler/parser/visitors/visitor.cpp
  compiler/sir/instr.cpp
  compiler/sir/instr.h
  compiler/sir/llvm/llvisitor.h
  compiler/sir/util/cloning.cpp
  compiler/sir/util/cloning.h
  compiler/sir/util/operator.h
  compiler/sir/util/visitor.cpp
  compiler/sir/util/visitor.h
Owners: @inumanag, @arshajii

lift stage expressions to outside of graph
  compiler/parser/visitors/simplify/simplify_ctx.h
  compiler/parser/visitors/simplify/simplify_stmt.cpp
Owners: @inumanag

allow arbitrary expressions to stages
  compiler/parser/peg/grammar.peg
Owners: @inumanag

noalias and noaliasret attrs
  compiler/sir/llvm/llvisitor.cpp
  stdlib/internal/attributes.seq
Owners: @arshajii, @inumanag

force O0 so can just use vegen
  compiler/sir/llvm/llvisitor.cpp
Owners: @arshajii

syntax for permutation regions
  compiler/parser/ast/stmt.cpp
  compiler/parser/ast/stmt.h
  compiler/parser/peg/grammar.peg
  compiler/parser/visitors/simplify/simplify.h
  compiler/parser/visitors/simplify/simplify_stmt.cpp
  compiler/parser/visitors/translate/translate.cpp
  compiler/parser/visitors/translate/translate.h
  compiler/parser/visitors/typecheck/typecheck.h
  compiler/parser/visitors/typecheck/typecheck_stmt.cpp
  compiler/parser/visitors/visitor.cpp
  compiler/parser/visitors/visitor.h
  compiler/sir/flow.cpp
  compiler/sir/flow.h
  compiler/sir/llvm/llvisitor.cpp
  compiler/sir/util/visitor.cpp
  compiler/sir/util/visitor.h
Owners: @inumanag, @arshajii

handle method for PermuteFlow
  compiler/sir/util/operator.h
Owners: @arshajii

add printout
  compiler/sir/llvm/llvisitor.cpp
Owners: @arshajii

whoops
  compiler/sir/llvm/llvisitor.cpp
Owners: @arshajii

better code for sticking in aliasing information on functions
  compiler/sir/func.cpp
  compiler/sir/func.h
  compiler/sir/llvm/llvisitor.cpp
Owners: @arshajii

kick off new cola branch
  .gitignore
Owners: @arshajii, @inumanag

add baseline cola api
  CMakeLists.txt
  compiler/cola/cola.cpp
  compiler/cola/cola.h
  compiler/util/common.h
  runtime/cola_main.cpp
  stdlib/cola/__init__.seq
  stdlib/cola/bits.seq
  stdlib/cola/blocks.seq
  stdlib/cola/cola_annots.seq
  stdlib/cola/cola_utils.seq
  stdlib/internal/file.seq
Owners: @arshajii, @inumanag

start of h264
  apps/h264/cfg.seq
  apps/h264/collections.seq
  apps/h264/generic_bitstream.seq
  apps/h264/golomb.seq
  apps/h264/h264.seq
  apps/h264/syntax.seq
  apps/h264/syntax_constants.seq
  apps/h264/typedefs.seq
  apps/h264/yuv.seq
Owners: @arshajii, @inumanag

temp file to test
  apps/h264/test.264
Owners: @arshajii, @inumanag

another test file
  apps/h264/constants.seq
  apps/h264/foreman.cif.264
Owners: @arshajii, @inumanag

update test file
  apps/h264/foreman.cif.264
Owners: @arshajii, @inumanag

update .gitignore and remove some test files
  .gitignore
  apps/h264/foreman.cif.264
  apps/h264/test.264
Owners: @arshajii, @inumanag

add some more functionality to blocks
  stdlib/cola/blocks.seq
Owners: @arshajii, @inumanag

get simple PCM-only version of H264 working to ensure that bitstream syntax is working
  apps/h264/cfg.seq
  apps/h264/collections.seq
  apps/h264/constants.seq
  apps/h264/generic_bitstream.seq
  apps/h264/golomb.seq
  apps/h264/h264.seq
  apps/h264/syntax.seq
  apps/h264/typedefs.seq
  apps/h264/yuv.seq
Owners: @arshajii, @inumanag

add no_compress mode to easily trigger all-PCM frames
  apps/h264/cfg.seq
  apps/h264/h264.seq
  apps/h264/pcm.seq
  apps/h264/render.sh
Owners: @arshajii, @inumanag

do not hardcode input file
  apps/h264/cfg.seq
Owners: @arshajii, @inumanag

do not include linker paths if env var is empty
  compiler/sir/llvm/llvisitor.cpp
Owners: @arshajii

convert views to reference a specific block
  apps/h264/I.seq
  apps/h264/cfg.seq
  apps/h264/collections.seq
  apps/h264/constants.seq
  apps/h264/funcs.seq
  apps/h264/h264.seq
  apps/h264/intra.seq
  apps/h264/pcm.seq
  apps/h264/syntax.seq
  stdlib/cola/blocks.seq
Owners: @arshajii, @inumanag

add setitem to blocks
  stdlib/cola/blocks.seq
Owners: @arshajii, @inumanag

add more block functionality
  stdlib/cola/blocks.seq
  stdlib/cola/cola_utils.seq
Owners: @arshajii, @inumanag

fix bug actually causing infinite recursion in Block.__setitem__
  stdlib/cola/blocks.seq
Owners: @arshajii, @inumanag

add a whole quantization explanation for myself
  apps/h264/quant.seq
Owners: @arshajii, @inumanag

change how parameters input into h264
  apps/h264/I.seq
  apps/h264/cfg.seq
  apps/h264/collections.seq
  apps/h264/encoder.cfg
  apps/h264/funcs.seq
  apps/h264/h264.seq
  apps/h264/intra.seq
  apps/h264/syntax.seq
  apps/h264/transform.seq
  apps/h264/yuv.seq
Owners: @arshajii, @inumanag

clean up PCM only mode with new set of structures
  apps/h264/I.seq
  apps/h264/collections.seq
  apps/h264/h264.seq
  apps/h264/intra.seq
  apps/h264/quant.seq
  apps/h264/syntax.seq
Owners: @arshajii, @inumanag

I think I finally have a grasp on quantization, and I have it in my own form for luma and chroma
  apps/h264/I.seq
  apps/h264/collections.seq
  apps/h264/h264.seq
  apps/h264/intra.seq
  apps/h264/notes.txt
  apps/h264/quant.seq
  stdlib/cola/blocks.seq
  stdlib/cola/cola_utils.seq
Owners: @arshajii, @inumanag

Made a new structure for H264 starting back from PCM-only
  apps/h2642/annexb.seq
  apps/h2642/cfg.seq
  apps/h2642/constants.seq
  apps/h2642/encoder_processes.seq
  apps/h2642/generic_bitstream.seq
  apps/h2642/golomb.seq
  apps/h2642/h264.seq
  apps/h2642/parameter_sets.seq
  apps/h2642/typedefs.seq
  apps/h2642/video.seq
  apps/h2642/yuv.seq
Owners: @arshajii, @inumanag

add in cavlc. still need to hook it in though with the macroblock
  apps/h2642/annexb.seq
  apps/h2642/cavlc.seq
  apps/h2642/constants.seq
  apps/h2642/encoder_processes.seq
  apps/h2642/funcs.seq
  apps/h2642/golomb.seq
  apps/h2642/h264.seq
  apps/h2642/intra.seq
  apps/h2642/quant.seq
  apps/h2642/transform.seq
  apps/h2642/typedefs.seq
  apps/h2642/video.seq
  stdlib/cola/blocks.seq
  stdlib/cola/cola_utils.seq
Owners: @arshajii, @inumanag

getting closer, but having trouble getting cavlc or something to write out
  apps/h2642/cavlc.seq
  apps/h2642/constants.seq
  apps/h2642/encoder.cfg
  apps/h2642/encoder_processes.seq
  apps/h2642/intra.seq
Owners: @arshajii, @inumanag

add reference from JM for one mblk
  apps/h2642/foreman.one_MB.JM.264
Owners: @arshajii, @inumanag

alignment bit is only for PCM
  apps/h2642/encoder_processes.seq
Owners: @arshajii, @inumanag

getting further with the encoder stuff
  apps/h2642/cavlc.seq
  apps/h2642/constants.seq
  apps/h2642/encoder_processes.seq
  apps/h2642/h264.seq
  apps/h2642/intra.seq
  apps/h2642/make_one_mb_video.seq
  apps/h2642/quant.seq
  stdlib/cola/blocks.seq
Owners: @arshajii, @inumanag

fix cavlc zero_runs bug. Can now successfully do a luma encoding (but with chroma set to 0)
  apps/h2642/cavlc.seq
Owners: @arshajii, @inumanag

fix parameter for max num coeffs
  apps/h2642/cavlc.seq
Owners: @arshajii, @inumanag

fix emulation
  apps/h2642/annexb.seq
Owners: @arshajii, @inumanag

I do not understand what is wrong with chroma
  apps/h2642/cavlc.seq
  apps/h2642/cfg.seq
  apps/h2642/encoder.cfg
  apps/h2642/encoder_processes.seq
  apps/h2642/generic_bitstream.seq
  apps/h2642/intra.seq
Owners: @arshajii, @inumanag
