Repository jrayzero/CoLaCodon, changes with the owners that CODEOWNERS names for each.
All owners: @arshajii, @inumanag, @markhend

allow padding when nidxs < ndims
  apps/jpeg/baseline/jpeg.seq
  apps/jpeg/common/color.seq
  apps/jpeg/common/dct.seq
  stdlib/cola/blocks.seq
  stdlib/cola/cola_utils.seq
Owners: @arshajii, @inumanag

add split frame
  apps/common/split_frame.seq
Owners: @arshajii, @inumanag

update quant to match rounding for JM
  apps/h264/quant.seq
Owners: @arshajii, @inumanag

add stats to h264 for testing
  apps/h264/h264.seq
Owners: @arshajii, @inumanag

add a bunch of support for testing
  .gitignore
  apps/common/compute_psnr.seq
  apps/common/cost.seq
  apps/common/netbpm.seq
  apps/common/ppm.seq
  apps/common/split_frame.seq
  apps/eval/data_notes.txt
  apps/eval/scripts/llsc/JM.sh
  apps/eval/scripts/llsc/cola_h264.sh
  apps/eval/scripts/llsc/cola_jpeg_baseline.sh
  apps/eval/scripts/llsc/jpeg9e.sh
  apps/eval/scripts/llsc/x264.sh
  apps/eval/test_readme.txt
  apps/h264/cfg.seq
  apps/h264/foreman.cfg
  apps/h264/h264.seq
  apps/h264/h264.sh
  apps/h264/h264_enc.cfg
  apps/jpeg/baseline/jpeg.seq
  apps/jpeg/baseline/jpeg_cathedral.cfg
  apps/jpeg/baseline/jpeg_flower.cfg
  apps/jpeg/baseline/jpeg_spider.cfg
  apps/jpeg/common/cfg.seq
  apps/jpeg/common/color.seq
  apps/jpeg/common/stats.seq
Owners: @arshajii, @inumanag

fix some h261 things
  .gitignore
  apps/h261/cfg.seq
  apps/h261/encoder.seq
  apps/h261/h261.seq
  apps/h261/h261_enc.cfg
Owners: @arshajii, @inumanag

rename
  apps/h261/foreman.cfg
Owners: @arshajii, @inumanag

add script for running h261 + stats for it
  apps/eval/scripts/llsc/cola_h261.sh
  apps/eval/scripts/llsc/cola_jpeg_baseline.sh
  apps/h261/foreman.cfg
  apps/h261/h261.seq
Owners: @arshajii, @inumanag

allow passing in compiler config file
  compiler/cola/cola.cpp
  compiler/cola/cola.h
  runtime/cola_main.cpp
Owners: @arshajii, @inumanag

add h261/h264 laptop script versions
  .gitignore
  apps/eval/scripts/laptop/cola_h261.sh
  apps/eval/scripts/laptop/cola_h264.sh
Owners: @arshajii, @inumanag

add new config files for lapto
  apps/h261/foreman.laptop.cfg
  apps/h264/foreman.laptop.cfg
Owners: @arshajii, @inumanag

remove the sexp/lisp debug printouts
  compiler/parser/parser.cpp
Owners: @inumanag

add size() function to SeriesFlow
  compiler/sir/flow.h
Owners: @arshajii

+ Add pass to insert cumulative timing. + Add pass to print IR with clike syntax/formatting.
  CMakeLists.txt
  compiler/cola/cola.cpp
  compiler/cola/cola.h
  compiler/cola/passes/clike.cpp
  compiler/cola/passes/clike.h
  compiler/cola/passes/modules.h
  compiler/cola/passes/timing.cpp
  compiler/cola/passes/timing.h
  compiler/cola/passes/utils.cpp
  compiler/cola/passes/utils.h
  stdlib/cola/cola_utils.seq
Owners: @arshajii, @inumanag

update fn in config
  apps/jpeg/baseline/jpeg_spider.cfg
Owners: @arshajii, @inumanag

make function to time be case-sensitive
  compiler/cola/passes/timing.cpp
  compiler/cola/passes/timing.h
Owners: @arshajii

update cfg files
  apps/eval/scripts/laptop/cola_jpeg_baseline.sh
  apps/eval/scripts/laptop/jpeg.cfg
  apps/eval/scripts/llsc/cola_jpeg_baseline.sh
  apps/jpeg/common/color.seq
Owners: @arshajii, @inumanag

print out optimized llvm
  compiler/sir/llvm/llvisitor.cpp
Owners: @arshajii

laptop config files
  apps/jpeg/baseline/jpeg_cathedral.laptop.cfg
  apps/jpeg/baseline/jpeg_flower.laptop.cfg
  apps/jpeg/baseline/jpeg_spider.laptop.cfg
Owners: @arshajii, @inumanag

checksums
  apps/eval/checksums.txt
Owners: @arshajii, @inumanag

print out mangled name for timing since you can have multiple versions of a function timed
  compiler/cola/passes/timing.cpp
Owners: @arshajii

add unnesting pass
  CMakeLists.txt
  compiler/cola/passes/timing.cpp
  compiler/cola/passes/timing.h
  compiler/cola/passes/unnest.cpp
  compiler/cola/passes/unnest.h
  stdlib/cola/cola_utils.seq
Owners: @arshajii, @inumanag

forgot file
  compiler/cola/cola.cpp
Owners: @arshajii

some timing updates
  apps/eval/scripts/laptop/jpeg.cfg
  apps/jpeg/common/dct.seq
  apps/jpeg/common/huffman.seq
  apps/jpeg/common/quant.seq
Owners: @arshajii, @inumanag

create a base class for block/view that contains all the core functionality rather than having to implement it twice
  apps/jpeg/baseline/jpeg.seq
  apps/jpeg/common/color.seq
  apps/jpeg/common/quant.seq
  stdlib/cola/blocks.seq
Owners: @arshajii, @inumanag

add __iter__ specialization pass and pass to set the symbol vars in functions
  CMakeLists.txt
  compiler/cola/cola.cpp
  compiler/cola/cola.h
  compiler/cola/passes/modules.h
  compiler/cola/passes/specialization.cpp
  compiler/cola/passes/specialization.h
  compiler/cola/passes/symbols.cpp
  compiler/cola/passes/symbols.h
  compiler/cola/passes/unnest.cpp
  compiler/cola/passes/utils.cpp
  compiler/cola/passes/utils.h
  compiler/sir/types/types.h
Owners: @arshajii, @inumanag

update cola jpeg script for laptop
  apps/eval/scripts/laptop/cola_jpeg_baseline.sh
Owners: @arshajii, @inumanag

remove printout
  compiler/cola/passes/specialization.cpp
Owners: @arshajii

add canonicalization for block and view __init__ funcs
  CMakeLists.txt
  compiler/cola/cola.cpp
  compiler/cola/passes/canon.cpp
  compiler/cola/passes/canon.h
  compiler/cola/passes/utils.cpp
  compiler/cola/passes/utils.h
  compiler/sir/instr.h
  stdlib/cola/blocks.seq
Owners: @arshajii, @inumanag

init -> make
  CMakeLists.txt
  apps/jpeg/baseline/jpeg.seq
  apps/jpeg/common/tables.seq
  compiler/cola/cola.cpp
  compiler/cola/passes/canon.cpp
  compiler/cola/passes/canon.h
  compiler/cola/passes/checks.cpp
  compiler/cola/passes/checks.h
  compiler/cola/passes/modules.h
  compiler/cola/passes/utils.cpp
  compiler/cola/passes/utils.h
  stdlib/cola/blocks.seq
  stdlib/cola/cola_annots.seq
Owners: @arshajii, @inumanag

add CALL_MAGIC_NAME
  compiler/sir/module.cpp
  compiler/sir/module.h
Owners: @arshajii

make registerStandardPasses public so can run multiple times
  compiler/sir/transform/manager.h
Owners: @arshajii

add @pure and fix return value of getitem
  stdlib/cola/blocks.seq
Owners: @arshajii, @inumanag

copy prop and simplify View(view)
  CMakeLists.txt
  compiler/cola/cola.cpp
  compiler/cola/passes/collapse.cpp
  compiler/cola/passes/collapse.h
  compiler/cola/passes/unnest.cpp
  compiler/cola/passes/unnest.h
  compiler/cola/passes/utils.cpp
  compiler/cola/passes/utils.h
Owners: @arshajii, @inumanag

CODEOWNERS:

*                    @arshajii @inumanag
/compiler/           @arshajii
/compiler/parser/    @inumanag
/docs/               @markhend
