Repository jrayzero/CoLaCodon, changes with the owners that CODEOWNERS names for each.
All owners: @arshajii, @inumanag, @markhend

some updates
  CMakeLists.txt
  compiler/dsl/plugins.cpp
Owners: @arshajii, @inumanag

remove elemwise hardcode
  compiler/parser/visitors/simplify/simplify_stmt.cpp
  compiler/sir/analyze/module/side_effect.cpp
Owners: @inumanag, @arshajii

updates
  compiler/sir/transform/folding/const_prop.cpp
  compiler/sir/transform/folding/const_prop.h
  compiler/sir/transform/manager.h
  compiler/sir/util/cloning.h
  compiler/sir/util/operator.h
  stdlib/internal/attributes.seq
  stdlib/internal/c_stubs.seq
  stdlib/internal/types/int.seq
Owners: @arshajii, @inumanag

more cola updates
  compiler/sir/llvm/llvisitor.cpp
  compiler/sir/transform/cleanup/global_demote.cpp
  compiler/sir/util/cloning.h
  stdlib/internal/attributes.seq
  stdlib/internal/types/int.seq
  stdlib/internal/types/optional.seq
Owners: @arshajii, @inumanag

Add a new wavefront for structure
  compiler/parser/ast/expr.cpp
  compiler/parser/ast/stmt.cpp
  compiler/parser/ast/stmt.h
  compiler/parser/peg/grammar.peg
  compiler/parser/visitors/format/format.cpp
  compiler/parser/visitors/format/format.h
  compiler/parser/visitors/simplify/simplify.h
  compiler/parser/visitors/simplify/simplify_ctx.h
  compiler/parser/visitors/simplify/simplify_stmt.cpp
  compiler/parser/visitors/translate/translate.cpp
  compiler/parser/visitors/translate/translate.h
  compiler/parser/visitors/typecheck/typecheck.h
  compiler/parser/visitors/typecheck/typecheck_ctx.h
  compiler/parser/visitors/typecheck/typecheck_stmt.cpp
  compiler/parser/visitors/visitor.cpp
  compiler/parser/visitors/visitor.h
  compiler/sir/analyze/dataflow/cfg.cpp
  compiler/sir/analyze/dataflow/cfg.h
  compiler/sir/analyze/module/side_effect.cpp
  compiler/sir/flow.cpp
  compiler/sir/flow.h
  compiler/sir/instr.cpp
  compiler/sir/instr.h
  compiler/sir/transform/cleanup/dead_code.cpp
  compiler/sir/util/cloning.cpp
  compiler/sir/util/cloning.h
  compiler/sir/util/operator.h
  compiler/sir/util/visitor.cpp
  compiler/sir/util/visitor.h
Owners: @inumanag, @arshajii

setArgs
  compiler/sir/func.h
Owners: @arshajii

remove some printouts
  compiler/parser/parser.cpp
  compiler/parser/visitors/typecheck/typecheck_stmt.cpp
  compiler/sir/analyze/module/side_effect.cpp
  compiler/sir/analyze/module/side_effect.h
  compiler/sir/instr.h
  compiler/sir/llvm/llvisitor.cpp
  stdlib/internal/file.seq
Owners: @inumanag, @arshajii

fix link path
  compiler/sir/llvm/llvisitor.cpp
Owners: @arshajii

whoops put back that printout
  compiler/sir/llvm/llvisitor.cpp
Owners: @arshajii

add some attributes
  stdlib/internal/attributes.seq
  stdlib/internal/types/int.seq
  stdlib/internal/types/optional.seq
Owners: @arshajii, @inumanag

add pass name printout
  compiler/sir/transform/manager.cpp
Owners: @arshajii

clear symbols
  compiler/sir/func.h
Owners: @arshajii

compile with O3 in debug (for me, debug means skip cola passes but still do llvm + codon opts)
  compiler/sir/llvm/llvisitor.cpp
Owners: @arshajii

add byte add/mul/sub
  stdlib/internal/types/byte.seq
  stdlib/internal/types/optional.seq
Owners: @arshajii, @inumanag

undo commit 12ea36776e2d999a7f72fd475a5e6d6d0b7b4e7f
  compiler/sir/llvm/llvisitor.cpp
Owners: @arshajii

get rid of old not-useful-anymore operator thing
  compiler/sir/util/operator.h
Owners: @arshajii

add r funcs
  compiler/sir/module.cpp
  compiler/sir/module.h
Owners: @arshajii

add a byte/int fwrite
  runtime/lib.cpp
  runtime/lib.h
  stdlib/internal/c_stubs.seq
  stdlib/internal/file.seq
  stdlib/internal/types/byte.seq
Owners: @arshajii, @inumanag

add C_time_monotonic
  runtime/lib.cpp
  stdlib/internal/c_stubs.seq
Owners: @arshajii, @inumanag

Add !LABEL to the grammar
  compiler/parser/ast/expr.cpp
  compiler/parser/ast/expr.h
  compiler/parser/peg/grammar.peg
  compiler/parser/visitors/simplify/simplify_ctx.h
  compiler/parser/visitors/simplify/simplify_expr.cpp
Owners: @inumanag

clear out labels after setitem
  compiler/parser/visitors/simplify/simplify_expr.cpp
Owners: @inumanag

support label slices, e.g. !i(:)
  compiler/parser/ast/expr.cpp
  compiler/parser/ast/expr.h
  compiler/parser/peg/grammar.peg
  compiler/parser/visitors/simplify/simplify_expr.cpp
Owners: @inumanag

ColaLabel -> Einsum
  compiler/parser/visitors/simplify/simplify_expr.cpp
Owners: @inumanag

Add EinsumReduction syntax
  compiler/parser/ast/expr.cpp
  compiler/parser/ast/expr.h
  compiler/parser/peg/grammar.peg
  compiler/parser/visitors/simplify/simplify_ctx.h
  compiler/parser/visitors/simplify/simplify_expr.cpp
Owners: @inumanag

add ByteConst
  compiler/sir/const.h
  compiler/sir/module.cpp
  compiler/sir/module.h
Owners: @arshajii

support the nocodegen attribute for functions
  compiler/sir/llvm/llvisitor.cpp
  compiler/sir/module.h
  stdlib/internal/attributes.seq
Owners: @arshajii, @inumanag

support newer einop notation
  compiler/parser/ast/expr.cpp
  compiler/parser/ast/expr.h
  compiler/parser/peg/grammar.peg
  compiler/parser/visitors/simplify/simplify_expr.cpp
Owners: @inumanag

bug fixes
  compiler/parser/peg/grammar.peg
  compiler/parser/visitors/simplify/simplify_expr.cpp
  compiler/sir/llvm/llvisitor.cpp
Owners: @inumanag, @arshajii

print out command line
  compiler/sir/llvm/llvisitor.cpp
Owners: @arshajii

remove old funcs
  stdlib/internal/types/int.seq
Owners: @arshajii, @inumanag

add ButterflyRuleExpr
  compiler/parser/ast/expr.cpp
  compiler/parser/ast/expr.h
  compiler/parser/ast/stmt.cpp
  compiler/parser/ast/stmt.h
  compiler/parser/peg/grammar.peg
  compiler/parser/visitors/simplify/simplify.h
  compiler/parser/visitors/simplify/simplify_expr.cpp
  compiler/parser/visitors/simplify/simplify_stmt.cpp
  compiler/parser/visitors/translate/translate.cpp
  compiler/parser/visitors/translate/translate.h
  compiler/parser/visitors/translate/translate_ctx.h
  compiler/parser/visitors/typecheck/typecheck.h
  compiler/parser/visitors/typecheck/typecheck_expr.cpp
  compiler/parser/visitors/visitor.cpp
  compiler/parser/visitors/visitor.h
  compiler/sir/instr.cpp
  compiler/sir/instr.h
  compiler/sir/util/visitor.cpp
  compiler/sir/util/visitor.h
  stdlib/internal/attributes.seq
Owners: @inumanag, @arshajii

ButterflyRule -> ButterflyLane
  compiler/parser/visitors/translate/translate.cpp
  compiler/sir/instr.cpp
  compiler/sir/instr.h
  compiler/sir/util/visitor.cpp
  compiler/sir/util/visitor.h
Owners: @inumanag, @arshajii

add handle in operator.h for ButterflyLane
  compiler/sir/util/operator.h
Owners: @arshajii

Support simplified butterfly syntax
  compiler/parser/ast/expr.cpp
  compiler/parser/ast/expr.h
  compiler/parser/ast/stmt.cpp
  compiler/parser/ast/stmt.h
  compiler/parser/peg/grammar.peg
  compiler/parser/visitors/simplify/simplify.h
  compiler/parser/visitors/simplify/simplify_expr.cpp
  compiler/parser/visitors/simplify/simplify_stmt.cpp
  compiler/parser/visitors/translate/translate.cpp
  compiler/parser/visitors/translate/translate.h
  compiler/parser/visitors/translate/translate_ctx.h
  compiler/parser/visitors/typecheck/typecheck.h
  compiler/parser/visitors/typecheck/typecheck_expr.cpp
  compiler/parser/visitors/typecheck/typecheck_stmt.cpp
  compiler/parser/visitors/visitor.cpp
  compiler/parser/visitors/visitor.h
  compiler/sir/instr.h
  compiler/sir/util/operator.h
Owners: @inumanag, @arshajii

Fix Butterfly so that it can take multiple operation types per lane
  compiler/parser/ast/stmt.h
  compiler/parser/peg/grammar.peg
  compiler/parser/visitors/simplify/simplify_stmt.cpp
  compiler/parser/visitors/translate/translate.cpp
  compiler/parser/visitors/typecheck/typecheck_stmt.cpp
  compiler/parser/visitors/visitor.cpp
  compiler/sir/instr.cpp
  compiler/sir/instr.h
Owners: @inumanag, @arshajii

add clone for butterfly
  compiler/sir/instr.h
  compiler/sir/util/cloning.cpp
  compiler/sir/util/cloning.h
Owners: @arshajii

basics for graphs
  compiler/parser/peg/grammar.peg
  compiler/parser/visitors/simplify/simplify_expr.cpp
  compiler/parser/visitors/simplify/simplify_stmt.cpp
  compiler/parser/visitors/translate/translate.cpp
  compiler/sir/flow.h
Owners: @inumanag, @arshajii

support grid parameter
  compiler/parser/ast/stmt.h
  compiler/parser/visitors/simplify/simplify_stmt.cpp
  compiler/parser/visitors/translate/translate.cpp
  compiler/sir/flow.h
Owners: @inumanag, @arshajii

better grammar for graphs
  compiler/parser/ast/stmt.cpp
  compiler/parser/ast/stmt.h
  compiler/parser/peg/grammar.peg
  compiler/parser/visitors/simplify/simplify.h
  compiler/parser/visitors/simplify/simplify_ctx.h
  compiler/parser/visitors/simplify/simplify_stmt.cpp
  compiler/parser/visitors/translate/translate.cpp
  compiler/parser/visitors/translate/translate.h
  compiler/parser/visitors/typecheck/typecheck.h
  compiler/parser/visitors/typecheck/typecheck_ctx.cpp
  compiler/parser/visitors/typecheck/typecheck_stmt.cpp
  compiler/parser/visitors/visitor.cpp
  compiler/parser/visitors/visitor.h
  compiler/sir/flow.h
Owners: @inumanag, @arshajii

Better support for graph, pipeline, stage
  compiler/parser/visitors/simplify/simplify_stmt.cpp
  compiler/parser/visitors/translate/translate.cpp
  compiler/parser/visitors/translate/translate.h
  compiler/parser/visitors/translate/translate_ctx.cpp
  compiler/parser/visitors/translate/translate_ctx.h
  compiler/parser/visitors/typecheck/typecheck_stmt.cpp
  compiler/sir/flow.cpp
  compiler/sir/flow.h
  compiler/sir/instr.cpp
  compiler/sir/instr.h
  compiler/sir/llvm/llvisitor.h
  compiler/sir/util/cloning.cpp
  compiler/sir/util/cloning.h
  compiler/sir/util/operator.h
  compiler/sir/util/visitor.cpp
  compiler/sir/util/visitor.h
Owners: @inumanag, @arshajii

CODEOWNERS:

*                    @arshajii @inumanag
/compiler/           @arshajii
/compiler/parser/    @inumanag
/docs/               @markhend
